<div class="gtco-loader">
</div>

<div id="page">


    <div class="page-inner">
        <nav class="gtco-nav" role="navigation">
            <div class="gtco-container">

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div id="gtco-logo"><a href="index.html">Doar <em>.</em></a></div>
                    </div>
                </div>

            </div>
        </nav>

        <header id="gtco-header" class="gtco-cover" role="banner" style="background-image: url(../assets/splash/images/sangue.jpg)">
            <div class="overlay"></div>
            <div class="gtco-container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0 text-left">


                        <div class="row row-mt-15em">
                            <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                                <span class="intro-text-small">Bem vindo em wksanguine</span>
                                <h1>Agencia de doação de sangue.</h1>
                            </div>
                            <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
                                <div class="form-wrap">
                                    <div class="tab">

                                        <div class="tab-content">
                                            <div class="tab-content-inner active" data-content="signup">
                                                <form action="#">
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="login">Login ou Email</label>
                                                            <input type="email" class="form-control" [(ngModel)]="user.login" id="login" name="login" [ngModelOptions]="{standalone: true}">
                                                        </div>
                                                    </div>
                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <label for="password">Senha</label>
                                                            <input type="password" class="form-control" [(ngModel)]="user.senha" id="senha" [ngModelOptions]="{standalone: true}" name="senha">
                                                        </div>
                                                    </div>

                                                    <div class="row form-group">
                                                        <div class="col-md-12">
                                                            <input type="submit" class="btn btn-primary" (click)="logar()" value="Acessar">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </header>

        


        <div id="gtco-counter " class="gtco-section ">
            <div class="gtco-container ">

                <div class="row ">
                    <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box ">
                        <h2>Porque doar?</h2>
                        <p>A doação de sangue é um ato voluntário que pode ajudar a salvar muitas vidas. Em cada doação, uma pessoa doa, no máximo, 450 ml de sangue e essa única doação pode salvar a vida de até quatro pessoas. Vale destacar que, em cerca
                            de um dia, o organismo já repõe a quantidade de sangue que foi retirada na doação.</p>
                    </div>
                </div>

                <div class="row ">

                    <div class="col-md-12 col-sm-12 animate-box " data-animate-effect="fadeInLeft ">
                        <div class="feature-center ">
                            <span class="icon ">
							<i class="ti-face-smile "></i>
						</span>
                            <span class="counter js-counter " data-from="0 " data-to="97 " data-speed="5000 " data-refresh-interval="50 "></span>
                            <span class="counter-label ">Os necessitados agradecem</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <br>
        <br>
        <br>
        <footer id="gtco-footer " role="contentinfo ">
            <div class="gtco-container " align="center ">
                <p>Doe: Sangue</p>
                <p><a href="http://www.wksanguine.sp.gov.br/doacao ">http://www.wksanguine.sp.gov.br/doacao</a></p>

            </div>
        </footer>
    </div>

</div>

<div class="gototop js-top ">
    <a href="# " class="js-gotop "><i class="icon-arrow-up "></i></a>
</div>